#hero{
    height:60vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
    color:white;
    background:linear-gradient(rgba(0,0,0,.4),rgba(0,0,0,.4)),url("/img/1.jpg");
    background-size:cover;
    background-position:center;
}
#hero h1{ font-size:3.2em; }
#hero button{ margin-top:20px; font-size:1.1em; padding:10px 25px; border-radius:12px; border:none; background:#FF7800; color:white; cursor:pointer;}
#nuestros-programas{ padding:50px 0 80px 0; text-align:center; }
.programas{ margin-top:20px; display:grid; grid-template-columns:repeat(2,1fr); gap:32px; }
.carta{ background:#3995AA; border-radius:15px; padding:22px; box-shadow:0 5px 18px rgba(0,0,0,.12); transition:.25s; color: white; text-align:center; }
.carta img{ width:100%; height:220px; object-fit:contain; margin-bottom:12px; }
.carta:hover{ transform:translateY(-6px); box-shadow:0 10px 22px rgba(0,0,0,.2); }
@media(max-width:700px){ .programas{ grid-template-columns:1fr; } }
